# Node modules in backend and frontend
backend/node_modules/
frontend/node_modules/

# Logs
**/logs
**/*.log

# Environment variables
backend/.env
frontend/.env

# Build directories
backend/dist/
frontend/build/

# OS files
.DS_Store
Thumbs.db
